section.canhcam-contact-1
	.contaniner.px-0
		.row.no-gutters
			.col-lg-6
				.img
					img(src="./img/contact/c_1.jpg", alt="")
			.col-lg-6
				.text
					h2 Liên hệ Nnice Premium
					p Hãy gửi cho chúng tôi góp ý, đóng góp, than phiền của Quý khách về chất lương dịch vụ, cơ sở vật chất của hệ thống Nnice để giúp chúng tôi ngày càng phục vụ Quý khách tốt hơn.
					p Để đặt phòng, Quý khách vui lòng liên hệ trực tiếp NNice Primier
					.Module
						.ModuleContent
							#ctl00_mainContent_ctl04_pnlFormWizard
								#ctl00_mainContent_ctl04_pnlForm.wrap-form
									#ctl00_mainContent_ctl04_pnlQuestions
										.row.contact-form
											.form-group.qtext.require.col-md-6
												input(type="text", placeholder='Nội dung...')
												span.fa.fa-exclamation-triangle(style='display:none;') Vui lòng nhập Họ và tên....
											.form-group.qtext.require.col-md-6
												input(type="text", placeholder='Nội dung...')
												span.fa.fa-exclamation-triangle(style='display:none;') Vui lòng nhập Email....
											.form-group.qtext.require.col-md-6
												input(type="text", placeholder='Nội dung...')
												span.fa.fa-exclamation-triangle(style='display:none;') Vui lòng nhập Tiêu đề....
											.form-group.qtext.col-md-6
												input(type="text", placeholder='Nội dung...')
												span.fa.fa-exclamation-triangle(style='display:none;') Vui lòng nhập Số điện thoại....
											.form-group.qparagraph.require.col-md-12
												textarea(rows='2', cols='20', placeholder='Nội dung...')
												span.fa.fa-exclamation-triangle(style='display:none;') Vui lòng nhập Nội dung....
									#ctl00_mainContent_ctl04_up1(style='display:none;', role='status', aria-hidden='true')
										img(src='/Data/SiteImages/indicators/indicator1.gif', alt=' ')
									.form-group.frm-btnwrap
										label.label  
										.frm-btn
											input.btn.btn-default.frm-btn-submit(type='submit')
											input.btn.btn-default.frm-btn-reset(name='ctl00$mainContent$ctl04$btnReset', type='reset', value='Xóa')
											input(type='hidden', name='ctl00$mainContent$ctl04$hdnResponseSetGuid')
									.clear
