extends _layout/_layout.pug

block var
	- var title = 'About';
	- var bodyClass = 'about';

block header
	include ../lib/header/h-1/index.pug
block main
	include ../lib/about/a-1/index.pug
block footer
	include ../lib/footer/f-1/index.pug