extends _layout/_layout.pug

block var
	- var title = 'Liên hệ';
	- var bodyClass = 'contact';

block header
	include ../lib/header/h-1/index.pug
block main
	include ../lib/contact/c-1/index.pug
block footer
	include ../lib/footer/f-1/index.pug