extends _layout/_layout.pug

block var
	- var title = 'Menu Food	';
	- var bodyClass = 'menu-food';

block header
	include ../lib/header/h-1/index.pug
block main
	include ../lib/menu-detail/m-1/index.pug
block footer
	include ../lib/footer/f-1/index.pug