extends _layout/_layout.pug

block var
	- var title = 'Menu Drink	';
	- var bodyClass = 'menu-drink';

block header
	include ../lib/header/h-1/index.pug
block main
	include ../lib/menu-detail/m-2/index.pug
block footer
	include ../lib/footer/f-1/index.pug