extends _layout/_layout.pug

block var
	- var title = 'Room';
	- var bodyClass = 'room';

block header
	include ../lib/header/h-1/index.pug
block main
	include ../lib/room/r-1/index.pug
block footer
	include ../lib/footer/f-1/index.pug