section.canhcam-about-1
	article
		.row.no-gutters.about-1
			.col-lg-6.col-md-4
				.img
					img(src="./img/about/a_1.jpg", alt="")
			.col-lg-6.col-md-8
				.text 
					h3 karaoke nnice
					p Hệ thống Karaoke Nnice được thành lập từ năm 1997, với hơn 20 năm hoạt động, Karaoke Nnice đã phát triển với 7 chi nhánh ở khắp các quận trong thành phố. Với slogan “ HÁT HAY HƠN KHI ĐẾN VỚI Nnice ”, Nnice là nơi vui chơi, giải trí lành mạnh; là mô hình Karaoke gia đình thuần túy, nơi mang đến cho khách hàng những giờ phút thư giãn thoải mái với thiết kế trang trí độc đáo, ấn tượng, hệ thống âm thanh chất lượng tuyệt hảo cùng đội ngũ nhân viên phục vụ ân cần, chuyên nghiệp.
					p Hệ thống Karaoke Nnice với âm thanh ấn tượng, phục vụ chuyên nghiệp, không gian sống động. Một địa điểm vui chơi giải trí cùng bạn bè không thể bỏ qua.
		.row.no-gutters.about-2
			.col-lg-6.col-md-8.order-2.order-md-1
				.text 
					h3 karaoke nnice
					p Hệ thống Karaoke Nnice được thành lập từ năm 1997, với hơn 20 năm hoạt động, Karaoke Nnice đã phát triển với 7 chi nhánh ở khắp các quận trong thành phố. Với slogan “ HÁT HAY HƠN KHI ĐẾN VỚI Nnice ”, Nnice là nơi vui chơi, giải trí lành mạnh; là mô hình Karaoke gia đình thuần túy, nơi mang đến cho khách hàng những giờ phút thư giãn thoải mái với thiết kế trang trí độc đáo, ấn tượng, hệ thống âm thanh chất lượng tuyệt hảo cùng đội ngũ nhân viên phục vụ ân cần, chuyên nghiệp.
					p Hệ thống Karaoke Nnice với âm thanh ấn tượng, phục vụ chuyên nghiệp, không gian sống động. Một địa điểm vui chơi giải trí cùng bạn bè không thể bỏ qua.
			.col-lg-6.col-md-4.order-1.order-md-2
				.img
					img(src="./img/about/a_2.jpg", alt="")