section.canhcam-menu-1
	article
		.container-fluid.px-0
			.row.no-gutters.item.item-odd
				.col-md-6
					.img
						img(src="./img/menu/m_1.jpg")
				.col-md-6
					.text
						h2.main-title Thực đơn
							br 
							|  món mới
						p Nhằm thay đổi khẩu vị và  thu hút những thực khách mới Nice Primier luôn cập nhật nhiều món ăn mới nhằm mang lại cảm giác mới lạ và ngon miệng cho Quý khách. Dù là những món ăn tinh tế từ Pháp, hay một chút hương vị Việt Nam, những món ăn độc đáo này sẽ yêu chiều mọi giác quan của bất cứ người yêu ẩm thực nào tại Sài Gòn.
						.btn-wrap
							a.btn.btn-viewmore(href="#") xem thêm
			.row.no-gutters.item.item-even
				.col-md-6.order-md-2
					.img
						img(src="./img/menu/m_2.jpg")
				.col-md-6.order-md-1
					.text
						h2.main-title Thực đơn
							br 
							|  món mới
						p Thực đơn phong phú, đa dạng với sự kết hợp hài hoà của các món ăn truyền thống lẫn hiện đại giúp Quý khách có thể dễ dàng chọn lựa. Các món ăn tại NNice Primier đều được những đầu bếp giàu kinh nghiệm chế biến cùng cách trang trí thật tinh tế và đẹp mắt tạo cảm giác kích thích và sự ngon miệng của Quý khách
						.btn-wrap
							a.btn.btn-viewmore(href="#") xem thêm
			.row.no-gutters.item.item-odd
				.col-md-6
					.img
						img(src="./img/menu/m_3.jpg")
				.col-md-6
					.text
						h2.main-title Thực đơn
							br 
							| món mới
						p Nhằm thay đổi khẩu vị và  thu hút những thực khách mới Nice Primier luôn cập nhật nhiều món ăn mới nhằm mang lại cảm giác mới lạ và ngon miệng cho Quý khách. Dù là những món ăn tinh tế từ Pháp, hay một chút hương vị Việt Nam, những món ăn độc đáo này sẽ yêu chiều mọi giác quan của bất cứ người yêu ẩm thực nào tại Sài Gòn.
						.btn-wrap
							a.btn.btn-viewmore(href="#") xem thêm