section.canhcam-menu-detail-1
	article
		.container
			h2.main-title.center món ăn mới
			.row
				.col-6.col-md-4
					.item
						a(href="#!")
							img(src="./img/menu/mf_1.jpg", alt="")
				.col-6.col-md-4
					.item
						a(href="#!")
							img(src="./img/menu/mf_1.jpg", alt="")
				.col-6.col-md-4
					.item
						a(href="#!")
							img(src="./img/menu/mf_1.jpg", alt="")
				.col-6.col-md-4
					.item
						a(href="#!")
							img(src="./img/menu/mf_1.jpg", alt="")
				.col-6.col-md-4
					.item
						a(href="#!")
							img(src="./img/menu/mf_1.jpg", alt="")
				.col-6.col-md-4
					.item
						a(href="#!")
							img(src="./img/menu/mf_1.jpg", alt="")
				.col-6.col-md-4
					.item
						a(href="#!")
							img(src="./img/menu/mf_1.jpg", alt="")
				.col-6.col-md-4
					.item
						a(href="#!")
							img(src="./img/menu/mf_1.jpg", alt="")
				.col-6.col-md-4
					.item
						a(href="#!")
							img(src="./img/menu/mf_1.jpg", alt="")
				.col-6.col-md-4
					.item
						a(href="#!")
							img(src="./img/menu/mf_1.jpg", alt="")
				.col-6.col-md-4
					.item
						a(href="#!")
							img(src="./img/menu/mf_1.jpg", alt="")
				.col-6.col-md-4
					.item
						a(href="#!")
							img(src="./img/menu/mf_1.jpg", alt="")