header.canhcam-footer-1
	.container
		.row
			.col-12.col-xl.text-center.text-xl-left.mb-3.mb-xl-0
				p 201 Điện Biên Phủ, P. 6, Q. 3 Hotline: 0123 456 789. Email: info@nnice.com.vn
			.col-12.col-xl.text-center.text-xl-right
				p Copyright © 2018 Nnice Primier. All rights reserved. Designed by 
					a(href="https://canhcam.vn") Cánh Cam
					form(action="")
						input(type="text", name="")