section.canhcam-gallery-1
	article
		.container
			h2.main-title.center hình ảnh
			.row
				.col-md-4
					a.item(href="#!")
						figure
							.img
								img(src="./img/gallery/i_1.jpg", alt="")
							figcaption
								h4 NNice primier - phục vụ chuyên nghiệp
				.col-md-4
					a.item(href="#!")
						figure
							.img
								img(src="./img/gallery/i_1.jpg", alt="")
							figcaption
								h4 NNice primier - phục vụ chuyên nghiệp
				.col-md-4
					a.item(href="#!")
						figure
							.img
								img(src="./img/gallery/i_1.jpg", alt="")
							figcaption
								h4 NNice primier - phục vụ chuyên nghiệp
				.col-md-4
					a.item(href="#!")
						figure
							.img
								img(src="./img/gallery/i_1.jpg", alt="")
							figcaption
								h4 NNice primier - phục vụ chuyên nghiệp
				.col-md-4
					a.item(href="#!")
						figure
							.img
								img(src="./img/gallery/i_1.jpg", alt="")
							figcaption
								h4 NNice primier - phục vụ chuyên nghiệp
				.col-md-4
					a.item(href="#!")
						figure
							.img
								img(src="./img/gallery/i_1.jpg", alt="")
							figcaption
								h4 NNice primier - phục vụ chuyên nghiệp