section.canhcam-gallery-2
	article
		.container
			h2.main-title.center VIDEO
			.owl-carousel.video-list
				.item
					a(href="https://www.youtube.com/watch?v=3oU4fGSMGcI" data-fancybox="v-1")
						.img-wrap
							img(src="./img/gallery/v_1.jpg", alt="")
						.play-btn
							img(src="./img/play_button.png", alt="")
				.item
					a(href="https://www.youtube.com/watch?v=3oU4fGSMGcI" data-fancybox="v-2")
						.img-wrap
							img(src="./img/gallery/v_1.jpg", alt="")
						.play-btn
							img(src="./img/play_button.png", alt="")
				.item
					a(href="https://www.youtube.com/watch?v=3oU4fGSMGcI" data-fancybox="v-3")
						.img-wrap
							img(src="./img/gallery/v_1.jpg", alt="")
						.play-btn
							img(src="./img/play_button.png", alt="")
				.item
					a(href="https://www.youtube.com/watch?v=3oU4fGSMGcI" data-fancybox="v-4")
						.img-wrap
							img(src="./img/gallery/v_1.jpg", alt="")
						.play-btn
							img(src="./img/play_button.png", alt="")