section.canhcam-home-1.d-none.d-lg-block
	.ms-section.video
		video(loop autoplay)
			source(src="./video/home.mp4" type="video/mp4")
	#multiscroll
		.ms-left
			.ms-section.video-img
				.img
				.text
					h3 NNICE PREMIUM
						br
						| ĐẲNG CẤP DÀNH CHO BẠN
			.ms-section(style="background-image: url('./img/home/l_1.jpg')")
				.top
					.text
						h3 Quầy lễ tân
						p Ân cần niềm nở trong đón tiếp và chuyên nghiệp trong cách phục vụ khách hàng luôn là điểm nhấn đầu tiên để lại ấn tượng khó quên trong lòng khách hàng. Mọi yêu cầu và mong muốn của khách hàng sẽ được chúng tôi chăm chút và thực hiện nhanh chóng.
				.bottom(style="background: url('./img/home/lh_1.jpg')")
					img(src="./img/home/lh_1.jpg")
				.button-viewmore
					a(href="#") 
						span +
						span Xem thêm
			.ms-section(style="background-image: url('./img/home/l_2.jpg')")
				.top
					.text
						h3 Phòng Châu Âu
						p Nổi bật tông màu ấm nóng cổ điển đặc trưng cùng thiết kế đậm chất phương Tây như nội thất Hoàng gia hay họa tiết trang trí điểm xuyếntrên tường. Nơi đây chắc chắn khiến cho những bản tình ca được vút cao đầy cảm xúc như một sân khấu âm nhạc thực thụ.
				.bottom(style="background: url('./img/home/lh_2.jpg')")
					img(src="./img/home/lh_2.jpg", alt="")
				.button-viewmore
					a(href="http://preview9988.canhcam.com.vn/phong-hat") 
						span +
						span Xem thêm
			.ms-section(style="background-image: url('./img/home/l_3.jpg')")
				.top
					.text
						h3 Phòng Nhật
						p Nếu bạn đã trót say lòng với nền văn hóa đặc sắc của xứ sở hoa anh đào thì không gian Phòng Karaoke kiểu Nhật tại Nnice Premier khiến bạn phải hài lòng. Không chỉ là cách trang trí, từ cách phụ vụ và ẩm thực cũng khiến bạn ồ lên thú vị.
				.bottom(style="background: url('./img/home/lh_3.jpg')")
					img(src="./img/home/lh_3.jpg", alt="")
				.button-viewmore
					a(href="http://preview9988.canhcam.com.vn/phong-hat") 
						span +
						span Xem thêm
			.ms-section(style="background-image: url('./img/home/l_4.jpg')")
				.top
					.text
						h3 Tin tức
						p Ân cần niềm nở trong đón tiếp và chuyên nghiệp trong cách phục vụ khách hàng luôn là điểm nhấn đầu tiên để lại ấn tượng khó quên trong lòng khách hàng. Mọi yêu cầu và mong muốn của khách hàng sẽ được chúng tôi chăm chút và thực hiện nhanh chóng.
				.bottom(style="background: url('./img/home/lh_4.jpg')")
					img(src="./img/home/lh_4.jpg", alt="")
		.ms-right
			.ms-section.video-img
				.img
				.text
					h3 NNICE PREMIUM
						br
						| ĐẲNG CẤP DÀNH CHO BẠN
			.ms-section(style="background-image: url('./img/home/r_1.jpg')")
				.top
					.text
						h3 Sảnh chờ
						p Mọi không gian tại Nnice Premier điều được thiết kế để tạo sự thư giãn tuyệt đối cho khách hàng. Dù là trải nghiệm dịch vụ hay những phút giây chờ đợi chúng tôi điều mong mong muốn mang lại cảm giác thoải mái nhất.
				.bottom(style="background: url('./img/home/rh_1.jpg')")
					img(src="./img/home/rh_1.jpg", alt="")
				.button-viewmore
					a(href="#") 
						span +
						span Xem thêm
			.ms-section(style="background-image: url('./img/home/r_2.jpg')")
				.top
					.text
						h3 Phòng Lounge
						p Đẳng cấp hoàn toàn mới giữa không gian tinh tế và sang trọng đến từng milimet sẽ khiến tất cả các giác quan của bạn trải nghiệm cung bậc cảm xúc và hòa mình vào không gian âm nhạc đỉnh cao như những ca sĩ thực thụ.
				.bottom(style="background: url('./img/home/rh_2.jpg')")
					img(src="./img/home/rh_2.jpg", alt="")
				.button-viewmore
					a(href="http://preview9988.canhcam.com.vn/phong-hat") 
						span +
						span Xem thêm
			.ms-section(style="background-image: url('./img/home/r_3.jpg')")
				.top
					.text
						h3 Phòng Thổ Nhĩ Kỳ
						p Chào Thổ Nhĩ Kì bắt đầu từ những không gian tinh tế và lạ mắt tại Nnice Premier. Những ca khúc mạnh mẽ, sống động tái hiện đặc sắc Sexy, hoang dại và nóng bỏng mê hồn, vũ điệu Belly Dance đặc trưng.
				.bottom(style="background: url('./img/home/rh_3.jpg')")
					img(src="./img/home/rh_3.jpg", alt="")
				.button-viewmore
					a(href="http://preview9988.canhcam.com.vn/phong-hat") 
						span +
						span Xem thêm
			.ms-section(style="background-image: url('./img/home/r_4.jpg')")
				.top
					.text
						h3 Liên hệ
						p Quý khách vui lòng liên hệ với NNice Premier qua số hotline hoặc email dưới đây, chúng tôi sẽ phản hồi nhanh chóng nhất.
						ul
							li 201 ĐIỆN BIÊN PHỦ, P. 6, Q. 3 
							li HOTLINE: 0123 456 789
						ul
							li EMAIL: INFO@NNICE.COM.VN WEBSITE: 
							li NNICE-PREMIER.COM.VN
				.bottom(style="background: url('./img/home/rh_4.jpg')")
					img(src="./img/home/rh_4.jpg", alt="")
