section.canhcam-room-1
	article
		.container-fluid.px-0
			h2.main-title.center Phòng hát
			.row.no-gutters
				.col-md-6
					.item
						figure
							.img
								a(href="#")
									img(src="./img/room/r_1.jpg", alt="")
							figcaption
								h4
									a(href="#") phòng châu âu
								.btn-wrap
									.btn.view-img Hình ảnh
									.d-none.img-normal
										a(href="./img/room/r_1.jpg" data-fancybox="news-1" data-caption="<div class='d-flex caption-wrap'><h4>DEMO DMDMDM</h4><p>Loại phòng: <strong>VIP</strong></p><p>Sức chứa: <strong>VIP</strong></p><p>Giá phòng: <strong>400.000đ/giờ</strong></p></div>" rel="news-1")
											img.img-fluid(src="./img/room/r_1.jpg")
										a(href="./img/room/r_2.jpg" data-fancybox="news-1" data-caption="DEMO DMDMDM" rel="news-1")
											img.img-fluid(src="./img/room/r_2.jpg")
										a(href="./img/room/r_3.jpg" data-fancybox="news-1" data-caption="DEMO DMDMDM" rel="news-1")
											img.img-fluid(src="./img/room/r_3.jpg")
									a.btn.view-panorama(href="#!") View panorama
				.col-md-6
					.item
						figure
							.img
								a(href="#")
									img(src="./img/room/r_1.jpg", alt="")
							figcaption
								h4
									a(href="#") phòng châu âu
								.btn-wrap
									.btn.view-img Hình ảnh
									.d-none.img-normal
										a(href="./img/room/r_4.jpg" data-fancybox="news-4" data-caption="<h4>DEMO DMDMDM</4>" rel="news-4")
											img.img-fluid(src="./img/room/r_1.jpg")
										a(href="./img/room/r_2.jpg" data-fancybox="news-4" data-caption="DEMO DMDMDM" rel="news-4")
											img.img-fluid(src="./img/room/r_2.jpg")
										a(href="./img/room/r_3.jpg" data-fancybox="news-4" data-caption="DEMO DMDMDM" rel="news-4")
											img.img-fluid(src="./img/room/r_3.jpg")
										a(href="./img/room/r_4.jpg" data-fancybox="news-4" data-caption="DEMO DMDMDM" rel="news-4")
											img.img-fluid(src="./img/room/r_4.jpg")
									a.btn.view-panorama(href="#!") View panorama
				.col-md-6
					.item
						figure
							.img
								a(href="#")
									img(src="./img/room/r_1.jpg", alt="")
							figcaption
								h4
									a(href="#") phòng châu âu
								.btn-wrap
									.btn.view-img Hình ảnh
									.d-none.img-normal
										a(href="./img/room/r_1.jpg" data-fancybox="news-2" data-caption="DEMO DMDMDM" rel="news-2")
											img.img-fluid(src="./img/room/r_4.jpg")
										a(href="./img/room/r_2.jpg" data-fancybox="news-2" data-caption="DEMO DMDMDM" rel="news-2")
											img.img-fluid(src="./img/room/r_2.jpg")
										a(href="./img/room/r_3.jpg" data-fancybox="news-2" data-caption="DEMO DMDMDM" rel="news-2")
											img.img-fluid(src="./img/room/r_3.jpg")
										a(href="./img/room/r_4.jpg" data-fancybox="news-2" data-caption="DEMO DMDMDM" rel="news-2")
											img.img-fluid(src="./img/room/r_1.jpg")
									a.btn.view-panorama(href="#!") View panorama
				.col-md-6
					.item
						figure
							.img
								a(href="#")
									img(src="./img/room/r_1.jpg", alt="")
							figcaption
								h4
									a(href="#") phòng châu âu
								.btn-wrap
									.btn.view-img Hình ảnh
									.d-none.img-normal
										a(href="./img/room/r_1.jpg" data-fancybox="news-3" data-caption="DEMO DMDMDM" rel="news-3")
											img.img-fluid(src="./img/room/r_1.jpg")
										a(href="./img/room/r_2.jpg" data-fancybox="news-3" data-caption="DEMO DMDMDM" rel="news-3")
											img.img-fluid(src="./img/room/r_2.jpg")
										a(href="./img/room/r_3.jpg" data-fancybox="news-3" data-caption="DEMO DMDMDM" rel="news-3")
											img.img-fluid(src="./img/room/r_3.jpg")
										a(href="./img/room/r_4.jpg" data-fancybox="news-3" data-caption="DEMO DMDMDM" rel="news-3")
											img.img-fluid(src="./img/room/r_4.jpg")
									a.btn.view-panorama(href="#!") View panorama